table.sortable th:not(.sorttable_sorted):not(.sorttable_sorted_reverse):not(.sorttable_nosort):after {
    content: " \25B4\25BE"
}

.styleme {
    background-color:#C8C8C8;
}
.toplinks {
    border-radius:25px;
    height:25px;
    #position: fixed;
    #float: top;
    margin:10px;
}

.toplinks ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.toplinks ul li {
    display: inline;
    vertical-align: middle;
    border-style: solid;
    border-width: medium;
    background-color:#C8C8C8;
    border-color: #303030;
    border-radius: 2px;
    padding: 5px;
}

#dash a,
#dash a:link, 
#dash a:visited, 
#dash a:hover, 
#dash a:active {
    color:red;
    text-decoration: none;
}

