<br />
<div>Hi {name},</div>
<div>&nbsp;</div>
<div>We've unlocked your passwords in the DES DBs (dessci&nbsp;and&nbsp;desoper). Your username is {user}.</div><br />
Your should use your current password, if you have any issues we can also reset the password if needed or if you don't remember it.
<div>&nbsp;</div>
<div>You might want to change your password in both,&nbsp;dessci&nbsp;and&nbsp;desoper&nbsp;(it can be the same) which can be done at our experimental page <a href="https://deslabs.ncsa.illinois.edu/easyweb/login/?next=%2Feasyweb">https://deslabs.ncsa.illinois.edu/easyweb</a></div>
<div>&nbsp;</div>
<div>To connect to&nbsp;desoper&nbsp;use: easyaccess -s&nbsp;desoper</div>
<div>&nbsp;</div>
<div>As a&nbsp;reminder,&nbsp;your credentials are stored in your $HOME/.desservices.ini which should look like&nbsp;<a href="http://matias-ck.com/easyaccess/#/Authentication">this</a></div>
<div>&nbsp;</div>
<div>Let us know if you have issues with this,</div>
<div>&nbsp;</div>
<div>Regards,</div>
<div>&nbsp;</div>
<div>DESDM Team</div>
